<header>
  <h1>icong</h1>
  <h2>SVG icons plugin for Angular</h2>
</header>

<main>
  Direct xlink:
  <svg style="color: blue">
    <use xlink:href="#menu" />
  </svg>
  Icong XML:
  <svg icon="menu" style="color: green">
  </svg>
  Icong URL:
  <svg icon="lock" style="color: orangered"></svg>

  <div>
    <a routerLink="/lazy/lazy1">Lazy</a><br>
    <a routerLink="/lazy/lazy2">Lazy with reg</a><br>
    <a routerLink="/lazy/lazy-url">Lazy with url load</a><br>
  </div>

  <router-outlet></router-outlet>
</main>

<footer>
  Crafted by Oleksa Novyk.
</footer>

<icons-host></icons-host>
